<mat-sidenav-container fullscreen> 
        <mat-sidenav #sidenav [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'" class="menu">
          <div class="sidenav-header">
                <a [routerLink]="['/']"><mat-icon>home</mat-icon><br />Home</a>
                <a [routerLink]="['/']"><mat-icon>games</mat-icon><br />Games</a>
                <a [routerLink]="['/']"><mat-icon> table_chart</mat-icon><br />Tables</a>
                <a [routerLink]="['/']"><mat-icon>account_circle</mat-icon><br />Account</a>
                <a [routerLink]="['/']"><mat-icon>settings</mat-icon><br />Settings</a>
          </div>
          <div class="sidenav-footer">
              <div class="logout">
                    <a [routerLink]="['/login']"><mat-icon>power_settings_new</mat-icon><br />Logout</a>
              </div>
          </div>
        </mat-sidenav>
      
        <div [ngStyle]="{'display' : (screenWidth > 840) ? 'none' : 'block'}">
          <button type="button" mat-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      
        <app-users></app-users>
      
      </mat-sidenav-container>