<div class="userAccount">
  <div>
    <p>Username : {{ currentUser.username }}</p>
    <p>First Name: {{ currentUser.firstName }}</p>
    <p>Last Name :{{ currentUser.lastName }}</p>
    <p>ID: {{ currentUser.id }}</p>
  </div>
  <img src="https://via.placeholder.com/150/0000FF/808080?Text=currentUser.username" />
</div>

<!-- NEED To ADD API endpoint to Update
       <mat-form-field class="form-group">
    <input
      matInput
      placeholder="Password"
      type="password"
      class="form-control"
      name="password"
      [(ngModel)]="model.password"
      #password="ngModel"
      required
    />
  </mat-form-field> -->
<!-- <a (click)="updateUser()">Update</a> -->
